//
   Created by tejassiripurapu on 10/15/16.

extends layout

block content
    h1 Logged in successfully!
    p Welcome to the Google Play - Soundcloud scraper
    p Here are your song details:
    //ol
    //    each url in data.streamUrl
    //        li= url
    a(href=data)= title